body {
  background: radial-gradient(khaki 40px, transparent 0, transparent 100%),
    radial-gradient(skyblue 40px, transparent 0, transparent 100%),
    radial-gradient(pink 40px, transparent 0, transparent 100%), snow;
  background-blend-mode: multiply;
  background-size: 100px 100px;
  background-position: 0 0, 33px 33px, -33px -33px;
}
.App {
  text-align: center;
  margin: 0 8%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.NavBar {
  background-color: rgba(255, 255, 255, 0.4);
  font: larger;
  text-shadow: bisque;
  text-align: center;
}

.SearchBar {
  background-color: rgba(100, 100, 100, 0.4);
  text-align: right;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.box {
  border: 12px solid rgba(180, 255, 220, 0.075);
  border-radius: 12px;
  border-bottom-width: 1px;
  box-shadow: 1px 10px 20px rgba(180, 242, 219, 0.6);
  padding-bottom: 15px;
  margin-bottom: 50px;
  width: 80%;
  max-width: 700px;
  background-color: rgba(252, 252, 252, 0.9);
}

.postList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.circles-background {
  background: radial-gradient(khaki 40px, transparent 0, transparent 100%),
    radial-gradient(skyblue 40px, transparent 0, transparent 100%),
    radial-gradient(pink 40px, transparent 0, transparent 100%), snow;
  background-blend-mode: multiply;
  background-size: 100px 100px;
  background-position: 0 0, 33px 33px, -33px -33px;
}

.plaid-background {
  background: repeating-linear-gradient(
      -45deg,
      transparent 0,
      transparent 25%,
      dodgerblue 0,
      dodgerblue 50%
    ),
    repeating-linear-gradient(
      45deg,
      transparent 0,
      transparent 25%,
      tomato 0,
      tomato 50%
    ),
    repeating-linear-gradient(transparent 0, transparent 25%, gold 0, gold 50%),
    white;
  background-blend-mode: multiply;
  background-size: 100px 100px;
}

.spectrum-background {
  background: linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  background-blend-mode: screen;
}
